/* ========================================= */
/* PETAqui - styles-admin.css */
/* Estilos específicos para la página de Administración */
/* ========================================= */

/* Sidebar administración */
.admin-sidebar {
  width: 200px; 
  height: auto;
  background-color: var(--color-fondo-sub-header); /* Azul claro subheader*/
  padding: 1rem;
  flex-shrink: 0;
}

/* Estilo para el enlace de volver a la página principal */
.admin-sidebar a#return{
  color: var(--color-secundario-inici) !important; /* Amarillo Oro */
  font: 600px;  
}


.admin-sidebar a {
  color: var(--color-texto-claro, #fff);
  padding: 0.75rem;
  display: block;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--font-body, sans-serif);
  transition: background-color 0.3s ease;
}


.admin-sidebar a:hover {
  background-color: var(--color-fondo-sub-header) !important; /* Azul más claro */
  color: var(--color-primario-cta) !important; /* Amarillo Oro */
}

.admin-sidebar a:hover#return{
  color: var(--color-texto-claro) !important; /* Color claro */
}

.admin-sidebar .sidebar-title {
  color: var(--color-texto-claro, #fff);
  margin-bottom: 1.5rem;
  font-family: var(--font-heading, "Quicksand", sans-serif);
  font-weight: 600;
}

/* Contenido principal */
.admin-content {
  padding: 2rem;
  flex-grow: 1;
  background-color: var(--color-fondo-claro, #f9f9f9);
}

/* Botones dentro de tablas */
.admin-table .btn-sm {
  margin-right: 0.25rem;
}

/* Layout flex para adaptarse a la estructura del proyecto */
.admin-wrapper {
  display: flex;
  min-height: 100vh;
}

/*Color texto del título de la sección*/
.admin-content h2 {
  color: var(--color-texto-oscuro) !important; /* Texto oscuro*/ 
  font-weight: 600;
}

/* Estilo tabla generada con los registros en admin */  
.taula-generada {
    padding: 10px;
    overflow-x: auto; /* Habilitar desplazamiento horizontal */
    width: 100%; /* Asegurar que ocupe todo el ancho del contenedor */
  }

.table-responsive {
    width: 100%; /* Asegurar que la tabla ocupe todo el ancho */
    border-collapse: collapse;
  }

  th,td{
    padding: 8px 12px;
    text-align: left;
    border: 1px solid var(--color-fondo-sub-header); /* Azul menos oscuro */
  }

  /* Responsive: ocultar sidebar en móviles pequeños */
@media (max-width: 576px) {
  .admin-wrapper {
    flex-direction: column;
  }

  .admin-sidebar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center; 
    white-space: nowrap;   
  }

  nav.admin-sidebar {
    white-space: nowrap;
    padding: 0.3rem 0.5rem !important; /* Menos padding para móviles */
    font-size: 0.85rem ; /* Fuente más pequeña */    
  }

  .admin-sidebar a {
    text-align: center;
    flex: 0 0 auto; /* Evitar que los enlaces se reduzcan */
    margin: 0 5px; /* Espaciado horizontal entre enlaces */
    height: 100%; /* Altura completa del sidebar */
  }
    
}